* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  color: #000;
  background-color: #f2fbfe;
  margin: 10px;
}

.navbar {
  display: flex;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  justify-content: space-between;
}

.brand-logo {
  display: flex;
  align-items: center;
  color: purple;
}

.brand-logo img {
  width: 40px;
  height: 40px;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-search {
  display: flex;
  float: right;
  padding: 10px;
}

.mobile-banner {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: lightblue;
  width: 100%;
  border-radius: 5px;
  gap: 5px;
  margin-top: 10px;
}

.banner-img img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.banner-desc h6 {
  font-size: 12px;
  font-weight: 100;
}

.small-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));

  margin-top: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

.card {
  display: flex;

  gap: 12px;
}

.card-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card-desc {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
}

.card-desc p {
  font-size: 12px;
  color: gray;
}

.card-img-xlarge {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-large,
.card-xlarge {
  margin-bottom: 10px;
}

.card-xlarge {
  position: relative;
}

.desc-xlarge {
  position: absolute;
  z-index: 2;
  bottom: 8%;
  padding: 10px;
  color: white;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.desc {
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5px;
}

.desc span,
.desc-xlarge span {
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
}

.desc h4 {
  font-size: 16px;
  font-weight: bold;
}

.desc p {
  font-size: 12px;
}

.nav-item-list {
  display: none;
}

.card-large {
  display: flex;
}

.img-card-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  margin-top: 30px;
  gap: 10px;
}
.card-img-large {
  width: 30%;
  height: auto;
  border-radius: 10px;
}

.card-img-xlarge {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.desc h4 {
  font-weight: bold;
}

.desc p {
  font-size: 12px;
}

@media screen and (max-width: 567px) {
  .purple span {
    color: purple;
  }

  .orange span {
    color: orange;
  }

  .aqua span {
    color: aqua;
  }

  .red span {
    color: red;
  }
  .mobile-card {
    display: none;
  }
}

@media screen and (min-width: 568px) {
  .img-card-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: 30px;
    gap: 10px;
  }

  .small-cards {
    margin-top: 50px;
  }

  .card-img-large,
  .card-img-xlarge {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .mobile-banner {
    display: none;
  }

  .card-large,
  .card-xlarge {
    position: relative;
  }

  .desc {
    position: absolute;
    z-index: 2;
    bottom: 8%;
    padding: 10px;
    color: white;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .purple span {
    background-color: purple;
  }

  .orange span {
    background-color: orange;
  }

  .aqua span {
    background-color: aqua;
  }

  .red span {
    background-color: red;
  }
}

@media screen and (min-width: 968px) {
  .navbar,
  .small-cards,
  .img-card-wrapper {
    margin: 0 18vw 0 18vw;
  }

  .small-cards {
    margin-top: 30px;
  }

  .nav-item-list {
    display: flex;
  }

  .img-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;

    margin-top: 30px;
    gap: 10px;
  }

  .card-img-large,
  .card-img-xlarge {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .card-large,
  .card-xlarge {
    position: relative;
  }

  .desc {
    position: absolute;
    z-index: 2;
    bottom: 8%;
    padding: 10px;
    color: white;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .box2 {
    display: flex;
    order: 1;
    flex-direction: column;
  }
  .box1 {
    display: flex;
    order: 2;
  }
  .box3 {
    display: flex;
    flex-direction: column;

    order: 3;
  }

  .desc h4 {
    font-weight: bold;
  }

  .desc p {
    font-size: 12px;
  }

  .darkmode {
    display: flex;
    position: inherit;
    float: right;
    background-color: purple;
    padding: 5px;
    border-radius: 5px;

    margin-top: 10px;
  }
}
